In [2]:
# import libraries

from bs4 import BeautifulSoup
import requests
import time
import datetime 
import smtplib

In [7]:
# Connect to website

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

rating = soup2.find(id="acrCustomerReviewText").get_text()


print(title)
print(rating)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt


                    8 ratings

In [9]:
title = title.strip()
rating= rating.strip()

print(title)
print(rating)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
8 ratings

In [20]:
import datetime

today = datetime.date.today()
print(today)

2021-09-28

In [21]:
import csv

header = ['Title', 'Rating', 'Date']
data = [title, rating, today]

with open('AmazonWebScraperDataset.csv', 'w', newline = '', encoding ='UTF8') as f:
  writer = csv.writer(f)
  writer.writerow(header)
  writer.writerow(data)

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("/content/AmazonWebScraperDataset.csv")
df

                                               Title     Rating        Date
0  Funny Got Data MIS Data Systems Business Analy...  8 ratings  2021-09-28

In [19]:
import datetime

today = datetime.date.today()
print(today)

2021-09-28

In [27]:
def check_rating():
  
  URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

  headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

  page = requests.get(URL, headers = headers)

  soup1 = BeautifulSoup(page.content, "html.parser")

  soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

  title = soup2.find(id='productTitle').get_text()

  rating = soup2.find(id="acrCustomerReviewText").get_text()


  title = title.strip()
  rating= rating.strip()

  import datetime

  today = datetime.date.today()

  import csv

  header = ['Title', 'Rating', 'Date']
  data = [title, rating, today]

  with open('AmazonWebScraperDataset.csv', 'a+', newline = '', encoding ='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [ ]:
while(True):
  check_rating()
  time.sleep(5)

In [29]:
df = pd.read_csv("/content/AmazonWebScraperDataset.csv")
df

                                               Title     Rating        Date
0  Funny Got Data MIS Data Systems Business Analy...  8 ratings  2021-09-28
1  Funny Got Data MIS Data Systems Business Analy...  8 ratings  2021-09-28
2  Funny Got Data MIS Data Systems Business Analy...  8 ratings  2021-09-28
3  Funny Got Data MIS Data Systems Business Analy...  8 ratings  2021-09-28
4  Funny Got Data MIS Data Systems Business Analy...  8 ratings  2021-09-28

In [ ]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('talktoaditya27@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "Alex, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'talktoaditya27@gmail.com',
        msg
     
    )